<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand fw-semibold" routerLink="/">eAgenda
      <i class="bi bi-clipboard2-check-fill text-success ms-2"></i>
    </a>
    <button (click)="estaColapsada = !estaColapsada"
      class="navbar-toggler"
      type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [ngbCollapse]="estaColapsada == true">
      <div class="links w-100 text-center">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-success"
               routerLinkActive="fw-semibold"
               routerLink="/contatos/listar">Contacts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-success"
               routerLinkActive="fw-semibold"
               routerLink="/compromissos/listar">Compromises</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-success"
               routerLinkActive="fw-semibold"
               routerLink="/categorias/listar">Categories</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-success"
               routerLinkActive="fw-semibold"
               routerLink="/despesas/listar">Despenses</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
