<section class="mt-5">
  <div class="container">
    <div class="card">
      <div class="row align-items-center gy-3 p-5">
        <div class="col-12 col-md-7">
          <h1 class="card-title fw-semibold text-success">User Panel</h1>

          <h2 class="fw-semibold fs-4">Welcome!</h2>
          <section id="info" class="fs-5">
            <p class="mt-4">
              <span class="text-success fw-semibold">e-Agenda</span> 
              seeks to streamline the management of your daily routine by 
              facilitating access and control of your tasks, 
              contacts, appointments and expenses.
            </p>
            <p class="text-success fw-semibold">What do you want to manage?</p>
          </section>
          <section id="buttons" class="d-grid d-md-flex gap-2">
            <a class="btn btn-success" routerLink="/contatos/listar"
              ><i class="bi bi-people-fill me-2"></i>Contacts</a
            >

            <a class="btn btn-success" routerLink="/compromissos/listar"
              ><i class="bi bi-bookmark-check-fill me-2"></i>Compromises</a
            >

            <a class="btn btn-success" routerLink="/categorias/listar"
              ><i class="bi bi-bookmark-check-fill me-2"></i>Categories</a
            >

            <a class="btn btn-success" routerLink="/despesas/listar"
              ><i class="bi bi-bookmark-check-fill me-2"></i>Despenses</a
            >
          </section>
        </div>

        <div class="col-12 col-md-5">
          <img src="/assets/business-image.svg" class="img-fluid" />
        </div>
      </div>
    </div>
  </div>
</section>
