<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 col-lg-6 mx-auto mt-5">
      <div class="text-md-start">
        <h1 class="fw-bold text-success">Insert new Compromise</h1>
      </div>

      <form [formGroup]="form!" (ngSubmit)="gravar()" class="mt-4">
        <div class="form-group mb-3 position-relative">
          <label class="form-label">Subject:</label>
          <input
            formControlName="assunto"
            class="form-control"
            type="text"
            placeholder="Digite o assunto do compromisso"
          />
        </div>

        <div class="form-group mb-3 position-relative">
          <label class="form-label">Type:</label>

          <div class="d-flex align-items-center gap-2">
            <input
              name="tipoLocal"
              formControlName="tipoLocal"
              type="radio"
              [value]="0"
            />
            Remote

            <input
              name="tipoLocal"
              formControlName="tipoLocal"
              type="radio"
              [value]="1"
            />
            Presential
          </div>
        </div>

        <div class="form-group mb-3 position-relative">
          <label class="form-label">Link:</label>
          <input
            formControlName="link"
            class="form-control"
            type="text"
            placeholder="Digite o link do compromisso"
          />
        </div>

        <div class="form-group mb-3 position-relative">
          <label class="form-label">Place:</label>
          <input
            formControlName="local"
            class="form-control"
            type="text"
            placeholder="Digite o local do compromisso"
          />
        </div>

        <div class="form-group mb-3 position-relative">
          <label class="form-label">Date:</label>
          <input formControlName="data" class="form-control" type="date" />
        </div>

        <div class="form-group mb-3 position-relative row">
          <div class="col-6">
            <label class="form-label">Starting time:</label>
            <input
              formControlName="horaInicio"
              class="form-control"
              type="time"
              placeholder="Digite o telefone do contato"
            />
          </div>

          <div class="col">
            <label class="form-label">Finish time:</label>
            <input
              formControlName="horaTermino"
              class="form-control"
              type="time"
              placeholder="Digite o telefone do contato"
            />
          </div>
        </div>

        <div class="form-group mb-3 position-relative">
          <label class="form-label">Contact:</label>
          <select
            class="form-select w-50"
            name="contatoId"
            formControlName="contatoId"
          >
            <option *ngFor="let contato of contatos" [ngValue]="contato.id">{{ contato.nome }}</option>
          </select>
        </div>

        <div class="card-footer g-grid d-flex gap-1 mt-5">
          <button type="submit" class="btn btn-success px-5">
            <i class="bi bi-save me-2"></i>
            Save
          </button>
          <button
            routerLink="/compromissos/listar"
            type="button"
            class="btn btn-outline-dark px-5"
          >
            <i class="pi pi-arrow-left me-2"></i>
            Return
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
